<footer class="text-center text-lg-start" style="background-color: #003366; color: #ffffff;" >
    <style>
        .footer-links a {
            text-decoration: none;
            color: #ffffff;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }

        .social-icons a {
            color: #ffffff;
            margin-right: 15px;
        }

        .social-icons a:hover {
            color: #f0f0f0;
        }

        .footer {
            padding: 20px 0;
            margin-left: -15px;
            margin-right: -15px;
            width: 100vw;
            box-sizing: border-box;
        }
    </style>
    <div class="footer">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>
                        Explore your premier destination for state-of-the-art technology, 
                        where you can find everything from the latest gadgets 
                        to essential tech accessories.
                    </p>
                    <p>© 2024 DVtech. All rights reserved.</p>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-links">
                    <h5 class="text-uppercase">Products</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-light">Laptops</a></li>
                        <li><a href="#!" class="text-light">Smartphones</a></li>
                        <li><a href="#!" class="text-light">Tablets</a></li>
                        <li><a href="#!" class="text-light">Accessories</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-links">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <div class="social-icons">
                        <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
